<div class="container">
    <div id="HomePage" class="well"></div>
</div>
<div class="loader">
    <div class="spinner-border" role="status" class="d-flex justify-content-center">
        <span class="sr-only"></span>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
        getRequest();
    </script>