<div class="container ">
    <div id="Search" class="row"></div>
    <nav aria-label="Page navigation example" style="margin:20px 0 0 40%;">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<footer class="navbar navbar-Secondary bg-secondary">
    <div class="container-fluid  bg-Secondary">
        <h4 style="margin-left: 25%;"> HỌ TÊN:HOÀNG VĂN TIỆP - 19120443 - PHÁT TRIỂN ỨNG DỤNG WEB</h4>
    </div>
</footer>
<div class="loader">
    <div class="spinner-border" role="status" class="d-flex justify-content-center">
        <span class="sr-only"></span>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/main.js"></script>